<!doctype html>
<!--suppress HtmlUnknownAttribute-->
<!--suppress HtmlUnknownTag -->
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Loading template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet"
          href="../../public/css/normalize.min.css"
          th:href="@{/css/normalize.min.css}" />
    <link rel="stylesheet"
          href="../../public/css/main.css"
          th:href="@{/css/main.css}" />

    <script src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"
            th:src="@{/webjars/modernizr/2.8.3/modernizr.min.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script
        defer="defer"
        src="https://code.getmdl.io/1.2.1/material.min.js"
        th:src="@{/webjars/material-design-lite/1.2.1/dist/material.min.js}"
    ></script>
    <link rel="stylesheet"
          href="https://code.getmdl.io/1.2.1/material.blue-pink.min.css"
          th:href="@{/webjars/material-design-lite/1.2.1/dist/material.blue-pink.min.css}"
    />
</head>
<body>
    <form th:action="@{/temp/check}"
      enctype="multipart/form-data" method="post">

        Please specify a file:
        <br/>
        <input type="file" name="datafile"/>

        <div>
            <input type="submit" value="Send"/>
        </div>
    </form>
</body>
</html>
